@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-track{
  background: black;
}

::-webkit-scrollbar-thumb{
  background: rgb(18, 122, 187);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover{
  background: blue;
}

.dark-mode {
  background-color: #242526;
  color: white;
}

.dark-mode .navbar{
  background-color : #242526;
}

.dark-mode .banner{
  background-image: url(../src/assets/images/bg.png);
  box-shadow: 0 0 100px 100px inset #242526;
}

.banner{
  background-image: url(../src/assets/images/bg.png);
  box-shadow: 0 0 50px 50px inset white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
